<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <form  method="post">
       
        <label for="name">Név:</label>
        <input type="text" id="name" name="name"  required>
        <br><br>

   
        <label for="bankAccount">Bankszámlaszám:</label>
        <input type="text" id="bankAccount" name="bankAccount"  required>
        <br><br>


        <label for="terms">
            <input type="checkbox" id="terms" name="terms" required> Elfogadom a szerződési feltételeket
        </label>
        <br><br>

     
        <button type="submit">Küldés</button>
    </form>
</body>
</html>